#foto{
    height: 45px;
    max-height: none;
    max-width: none;
    display: block;
}

#sliderMargin{
    margin-top: 20px;
}

.MarginDiv{
    margin-top:50px;
}

.card {
    margin-top:20px !important;
}